In [ ]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"

In [26]:
df_iter = pd.read_csv(
    url
)

In [27]:
df.to_sql(con=engine,name="zones",if_exists="replace")

265